body{
    background-image: url(/images/bamboo-cutting-board-texture.jpg);
}

.container{
    justify-content: space-between;
    align-content: center;

}

.navLink{
    
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 3em;
    background-color: #053E18DE;
    border: solid, #053E18DE;
    
}

a:link{
    color: white;
}

a:hover{
   color: blue; 
}

#headerSpan{
    color: white;
}


